# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/vcs.xml
.idea/blog.iml
.idea/modules.xml
.idea/workspace.xml
conf/blog.ini
conf/blog-log.xml
#logs/
static/images/
logs/*
