<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>花气袭人是酒香</title>
<meta name="Keywords" content="" >
<meta name="Description" content="" >
<link href="/static/css/index.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <h1><a href="/">{{.webSet.Sitename}}</a></h1>
  <p>{{.webSet.Sitedesc}}</p>
</header>
<div class="navswf">
<object id="customMenu" data="images/nav.swf" width="528" height="70" type="application/x-shockwave-flash"><param name="allowScriptAccess" value="always"><param name="allownetworking" value="all"><param name="allowFullScreen" value="true"><param name="wmode" value="transparent"><param name="menu" value="false"><param name="scale" value="noScale"><param name="salign" value="1">
</object>
<div id="nav">
     <ul>
       <li><a href="/" >网站首页</a></li>
        <li><a href="/news/" target="_blank" title="慢生活">慢生活</a></li>
        <li><a href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>
        <li><a href="/download/" target="_blank" title="个人网站模板">网站模板</a></li>
        <li><a href="/newstalk/" target="_blank" title="碎言碎语">碎言碎语</a></li>
       <li><a href="/e/tool/gbook/?bid=1" target="_blank" title="留言版">留言版</a></li>
     </ul>
     <script src="/static/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
</div>
</div>
<div class="blank"></div>
<article>
<div class="content">
    <div class="bloglist">
        {{range .articleList}}
          <!--article begin-->
            <ul>
            <h2><a title="{{.Title}}" href="/"  target="_blank">{{.Title}}</a></h2>
            <p>{{.Content}}</p>
            <figure><img src="picture/02.jpg"></figure>
            <p class="dateview"><span>{{.Publish_date}}</span><span>作者：杨青</span><span>分类：<a href="/" target="_blank">心得笔记</a></span><span>阅读({{.Read_count}})</span><span>评论({{.Comment_count}})</span></p>
            </ul>
          <!--article end-->
        {{end}}
    </div>
  </div>
<aside class="navsidebar">
    <h2><p>个人档案</p></h2>
   <div class="vcard">
      <p class="fn">姓名：{{.webSet.Name}}</p>
      <p class="nickname">网名：{{.webSet.Nickname}}</p>
      <p class="url">主页：<a href="{{.webSet.Weburl}}" target="_blank">{{.webSet.Weburl}}</a></p>
      <p class="address">现居：{{.webSet.Place}}</p>
      <p class="role">职业：{{.webSet.Vocation}}</p>
    </div>
   <h2><p>博客分类</p></h2>
    <ul class="news">
        {{range $k, $v := .categoryList}}
          <li><a href="/category/{{$v.Id}}">{{$v.Name}}({{$v.Article_cnt}})</a></li>
        {{end}}
    </ul>
<h2><p>近期文章</p></h2>
<ul class="news">
     {{range $k, $v := .recentList}}
        <li><a href="/article/{{$v.Id}}">{{$v.Title}}</a></li>
     {{end}}
</ul>
<h2><p>文章归档</p></h2>
<ul class="news">
  <li><a href="/">2008 年三月</a></li>
  <li><a href="/">2008 年四月</a></li>
  <li><a href="/">2008 年六月</a></li>
</ul>
<h2><p>友情链接</p></h2>
<ul class="news">
  <li><a href="/">杨青个人博客</a></li>
</ul>
</aside>
</article>
<div id="copright">Design by <a href="/" target="_blank">DanceSmile</a></div>
</body>
</html>
