{{define "right"}}
  <div class="sidebar">
      <div class="gadget">
          <h2>类别</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
          {{range $k, $v := .categoryList}}
              <li><a href="/category/{{$v.Id}}">{{$v.Name}}({{$v.Article_cnt}})</a></li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2><span>近期文章</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .recentList}}
              <li><a href="/article/{{$v.Id}}" title="{{$v.Title}}">{{$v.Title}}</a></li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2><span>友情链接</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .flinkList}}
              <li><a href="{{$v.Weburl}}" title="{{$v.Webname}}">{{$v.Webname}}</a></li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2>Wise Words</h2>
          <div class="clr"></div>
          <p>   <img src="/static/img/test_1.gif" alt="image" width="18" height="17" /> <em>We can let circumstances rule us, or we can take charge and rule our lives from within </em>.<img src="/static/img/test_2.gif" alt="image" width="18" height="17" /></p>
          <p style="float:right;"><strong>Earl Nightingale</strong></p>
      </div>
  </div>
{{end}}