{{template "header" .}}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<link rel="stylesheet" href="/static/editormd/css/editormd.preview.min.css" />
<link rel="stylesheet" href="/static/editormd/css/editormd.css" />
<body>
<div class="main">
{{template "menu" .}}
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>{{.article.Title}}</h2><div class="clr"></div>

          <div id="content" style="width:95%;">
            <textarea  style="display:none;">{{.article.Content}}</textarea>
        </div>
          <p>标签:
              {{range $k, $v := .article.Tag}}
                  <a href="/tag/{{$k}}">{{$v}}</a>
              {{end}}
              <!--<a href="#">orci</a>, <a href="#">lectus</a>, <a href="#">varius</a>, <a href="#">turpis</a>-->
          </p>
          <p><a href="#"><strong>评论 ({{.article.Comment_count}})</strong></a>  <span>&nbsp;&bull;&nbsp;</span>  {{.article.FormatPublishTime "Jan 02, 2006"}}  <span>&nbsp;&bull;&nbsp;</span>  <a href="#"><strong>Edit</strong></a></p>
        </div>
        {{if gt .article.Comment_count 0}}
            <div class="article">
              <h2><span>{{.article.Comment_count}}</span> Responses</h2><div class="clr"></div>
              {{range .commentList}}
                <div class="comment">
                  <a href="#"><img src="/static/img/userpic.gif" width="40" height="40" alt="user" class="userpic" /></a>
                  <p><a href="#">{{.Name}}</a> Says:<br />{{.FormatAtime "Jan 02th, 2006 at 15:04"}}</p>
                  <p>{{.Content}}</p>
                </div>
              {{end}}
            </div>
        {{end}}
        <div class="article">
          <h2>添加新回复</h2><div class="clr"></div>
            <ol>
                <li>
                    <label for="message">姓名<span style="color:red">*</span></label>
                    <input type="text" id="name" name="name"/>
                </li>
                <li>
                  <label for="message">内容<span style="color:red">*</span></label>
                  <textarea id="message" name="message" rows="8" cols="50"></textarea>
                </li>
                <li>
                  <input type="image" name="imageField" id="imageField" src="/static/img/submit.gif" class="send" onclick="recommd({{.article.Id}});"/>
                  <div class="clr"></div>
                </li>
            </ol>
        </div>
      </div>
      {{template "right" .}}
      <div class="clr"></div>
    </div>
  </div>

</div>
<script src="/static/editormd/lib/marked.min.js"></script>
<script src="/static/editormd/lib/prettify.min.js"></script>
<script src="/static/editormd/editormd.min.js"></script>

<script type="text/javascript">
    editormd.markdownToHTML("content",{
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });
</script>

<script type="text/javascript">

    function recommd(aid){
        var name = $('#name').val();
        var content = $('#message').val();
        if($.trim(name) == ""){
            alert("请输入你的姓名!");
            return;
        }
        if($.trim(content) == ""){
            alert("回复内容不能为空!");
            return;
        }
        var aj = $.ajax( {
            url:'/comment/addComment',// 跳转到 action
            data:{
                name : name,
                content : content,
                aid : aid
            },
            type:'post',
            cache:false,
            dataType:'json',
            success:function(data) {
                if(data.errcode == 0 ){
                    alert("评论成功")
                }else{
                    alert("评论失败，请重试")
                }
                window.location.href="/article/" + aid
            },
            error : function() {
                alert("数据库异常，请稍后重试！");
                window.location.href="/article/" + aid
            }
        });
    }
</script>

</body>
</html>
