<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{.webSet.Sitename}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{{template "menu" .}}
    <div class="clr"></div>
    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                    <h1>o(╥﹏╥)o</h1>
                    <br/>
                    <div class="clr"></div>
                    <div class="clr"></div>
                    <h1>{{.errcode}}</h1>
                    <br/>
                    <h1>{{.errinfo}}</h1>
                    <p/>
                    <p/>
                    <p></p>
                </div>
            </div>

        <div class="sidebarerr">
            <div class="gadget">
                <h2><span>推荐阅读</span></h2>
                <div class="clr"></div>
                <ul class="ex_menu">
                    {{range .articleList}}
                    <li>
                        <h3><a href="/article/{{.Id}}" title="{{.Title}}">{{.Title}}</a></h3>
                        <br/>
                        作者:{{.User}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读:({{.Read_count}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评论({{.Comment_count}})
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
            <div class="clr"></div>
        </div>
    </div>

</div>

</body>
</html>
