<html >
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
<div class="main">
    <div class="mainin">
        <div class="mainin1">
            <ul>
                <li><span>用户名：</span><input name="loginName" type="text" id="loginName" placeholder="登录名" class="SearchKeyword"></li>
                <li><span>密码：</span><input type="password" name="Possword" id="Possword" placeholder="密码" class="SearchKeyword2"></li>
                <li><button class="tijiao" onclick="login();">提交</button></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    if (window != top){
        top.location.href = location.href;
    }
    function login(){
        loginname = $('#loginName').attr('value');
        password = $('#Possword').attr('value');
        if($.trim(loginname) == "" || $.trim(password) == ""){
            alert("登录名和密码不能为空");
            return
        }
         var aj = $.ajax( {
             url:'/mlogin',// 跳转到 action
             data:{
                  loginname : loginname,
                  password : password
             },
             type:'post',
             cache:false,
             dataType:'json',
             success:function(data) {
                 if(data.ret == true){
                     window.location.href = data.purl;
                 }else{
                     alert("登录失败，请确认帐号密码是否正确!");
                 }

             },
             error : function() {
                  alert("异常！");
             }
         });
    }
</script>
</body>
</html>
