{{define "menu"}}
    <div class="header">
        <div class="header_resize">
            <div class="logo">
                <h1><a href="#">{{.webSet.Sitename}}</a><small>{{.webSet.Sitedesc}}</small></h1>
            </div>
            <div class="clr"></div>
            <div class="menu_nav">
                <ul>
                    <li><a href="/">首页</a></li>
                    {{range .columnList}}
                        <li><a href="{{.Url}}">{{.Title}}</a></li>
                    {{end}}
                    <li><a href="/">关于我</a></li>
                    <li><a href="/msg">留言板</a></li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>
{{end}}