{{define "right"}}
  <div class="sidebar">
      <div class="gadget">
          <h2>类别</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
          {{range $k, $v := .categoryList}}
              <li><a href="/category/{{$v.Id}}/1">{{$v.Name}}({{$v.Article_cnt}})</a></li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2><span>近期文章</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .recentList}}
              <li><a href="/article/{{$v.Id}}" title="{{$v.FormatTitle}}">{{$v.FormatTitle}}</a></li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2><span>热门文章</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .hotArticleList}}
              <li><a href="/article/{{$v.Id}}" target="_blank"><span style="color: #000000;font-size: 15px">{{$v.FormatTitle}}</span></a><br/>阅读量:&nbsp;&nbsp;{{$v.Read_count}}</li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2><span>最新评论</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .commentList}}
              <li><a href="/article/{{$v.ArticleInfo.Id}}" target="_blank"><span style="color: #000000;font-size: 15px">{{$v.ArticleInfo.FormatTitle}}</span></a><br/>{{$v.Name}}:&nbsp;&nbsp;{{$v.FormatContent}}</li>
          {{end}}
          </ul>
      </div>
      <div class="gadget">
          <h2>标签</h2>
          <div class="clr"></div>
          <p>
              {{range $k, $v := .tagList}}
                  <a href="/tag/{{$v.Id}}/" title="{{$v.Tag}}">{{$v.Tag}}</a>
              {{end}}
          </p>
      </div>
      <div class="gadget">
          <h2><span>友情链接</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
          {{range $k, $v := .flinkList}}
              <li><a href="{{$v.Weburl}}" title="{{$v.Webname}}">{{$v.Webname}}</a></li>
          {{end}}
          </ul>
      </div>
  </div>
{{end}}