<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>类别管理</title>
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 类别列表</strong></div>
  <div class="padding border-bottom">
      <input type="text" class="input w50" name="name" id="name" value="" placeholder="请输入类别名称"  />&nbsp;&nbsp;&nbsp;&nbsp;<a class="button border-yellow" href="" onclick="add();"><span class="icon-plus-square-o"></span> 添加类别</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>类别名称</th>
      <th>文章数量</th>
      <th>排序</th>
      <th width="250">操作</th>
    </tr>
    {{range $k, $v := .categoryList}}
        <tr>
          <td>{{$v.Id}}</td>
          <td>{{$v.Name}}</td>
          <td>{{$v.Article_cnt}}</td>
          <td>{{$v.Sort}}</td>
          <td>
          <div class="button-group">
          <a type="button" class="button border-main" href="/manage/updateCatetory/{{$v.Id}}"><span class="icon-edit"></span>修改</a>
           <a class="button border-red" href="javascript:void(0)" onclick="del('{{$v.Id}}','{{$v.Article_cnt}}')"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
    {{end}}
    
  </table>
</div>
<script>

    function add(){
        cate_name = $.trim($("#name").attr('value'));
        if(cate_name == ""){
            alert("类别名称不能为空");
            return;
        }
        if(confirm("您确定要添加该类别吗?")){
            var aj = $.ajax( {
                url:'/manage/addcatetory',
                data:{name : cate_name},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("添加成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/category"
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/category"
                },
            });
        }
    }

    function del(id,article_cnt){
        if(article_cnt > 0){
            alert("请移除该类别下文章后再删除！")
            return
        }
        if(confirm("您确定要删除吗?")){
            var aj = $.ajax( {
                url:'/manage/delcategory',
                data:{id : id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/category"
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/category"
                },
            });
        }
    }
</script>
</body></html>