<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>类别管理</title>
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 栏目列表</strong></div>
  <div class="padding border-bottom">
      <a class="button border-yellow" href="/manage/addColumn"><span class="icon-plus-square-o"></span> 添加栏目</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>标题</th>
      <th>地址</th>
      <th>排序</th>
      <th width="250">操作</th>
    </tr>
    {{range $k, $v := .columnList}}
        <tr>
          <td>{{$v.Id}}</td>
          <td>{{$v.Title}}</td>
          <td>{{$v.Url}}</td>
          <td>{{$v.Sort}}</td>
          <td>
          <div class="button-group">
          <a type="button" class="button border-main" href="/manage/updateColumn/{{$v.Id}}"><span class="icon-edit"></span>修改</a>
           <a class="button border-red" href="javascript:void(0)" onclick="del('{{$v.Id}}')"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
    {{end}}
    
  </table>
</div>
<script>
    function del(id){
        if(confirm("您确定要删除吗?")){
            var aj = $.ajax( {
                url:'/manage/delColumn',
                data:{id : id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/column"
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/column"
                },
            });
        }
    }
</script>
</body></html>