<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pintuer.js"></script>
</head>
<body>
<form method="post" action="">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 评论管理</strong></div>
        <div class="padding border-bottom">
            <ul class="search">
                <li>
                    <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
                    <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
                </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="120">ID</th>
                <th>姓名</th>
                <th>所在文章</th>
                <th width="25%">内容</th>
                <th width="120">留言时间</th>
                <th>操作</th>
            </tr>
            {{range $k, $v := .commetList}}
                <tr>
                    <td><input type="checkbox" name="id[]" value="{{$v.Id}}" />{{$v.Id}}</td>
                    <td>{{$v.Name}}</td>
                    <td><a href="/manage/articleinfo/{{$v.ArticleInfo.Id}}">{{$v.ArticleInfo.Title}}</a></td>
                    <td>{{$v.FormatContent}}</td>
                    <td>{{$v.FormatAtime "2006/01/02 15:04:05"}}</td>
                    <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="delComment('{{$v.Articleid}}','{{$v.Id}}');"><span class="icon-trash-o"></span> 删除</a> <a class="button border-blue" href="/manage/viewComment/{{$v.Id}}"><span class="icon-comment-o"></span> 查看</a></div></td>
                </tr>
            {{end}}
            <tr>
                <td colspan="6">
                    <div class="pagelist">
                        {{if gt .page 1}}
                            <a href="{{$.url}}?page={{.prevPage}}">上一页</a>
                        {{end}}
                        {{range $p, $v := .pages}}
                        {{if eq $v $.page}}
                            <span class="current">{{$v}}</span>
                        {{else}}
                            <a href="{{$.url}}?page={{$v}}">{{$v}}</a>
                        {{end}}
                        {{end}}
                        {{if lt .page .allPage}}
                            <a href="{{$.url}}?page={{.nextPage}}">下一页</a>
                            <a href="{{$.url}}?page={{.allPage}}">尾页</a>
                        {{end}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">

    function delComment(a_id,c_id){
        if(confirm("您确定要提删除该评论吗?")){
            var aj = $.ajax( {
                url:'/manage/delComment',
                data:{aid : a_id,cid:c_id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/commentList/0";
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/commentList/0";
                },
            });
        }
    }

    function del(id){
        if(confirm("您确定要删除吗?")){

        }
    }

    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要删除选中的内容吗？");
            if (t==false) return false;
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }

</script>
</body></html>