<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pintuer.js"></script>
</head>
<body>
<form method="post" action="">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 留言管理</strong></div>
        <div class="padding border-bottom">
            <ul class="search">
                <li>
                    <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
                    <button type="button" class="button border-red" onclick="DelSelect();"><span class="icon-trash-o"></span> 批量删除</button>
                </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="%5">ID</th>
                <th width="%5">姓名</th>
                <th width="30%">留言内容</th>
                <th>留言时间</th>
                <th>操作</th>
            </tr>
            {{range $k, $v := .msgList}}
                <tr>
                    <td><input type="checkbox" name="id[]" value="{{$v.Id}}" />{{$v.Id}}</td>
                    <td>{{$v.User}}</td>
                    <td>{{$v.FormatContent}}</td>
                    <td>{{$v.FormatPublishTime "2006-01-02 15:04:05"}}</td>
                    <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="delMessage('{{$v.Id}}');"><span class="icon-trash-o"></span> 删除</a> <a class="button border-blue" href="/manage/viewMsg/{{$v.Id}}"><span class="icon-comment-o"></span> 查看</a></div></td>
                </tr>
            {{end}}
            <tr>
                <td colspan="5">
                    <div class="pagelist" id="pagelist"></div>
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">
    var page = '{{.page}}';
    var pageStr = $('{{.pager.AllLink}}');
    $('#pagelist').append(pageStr);
    function delMessage(mid){
        if(confirm("确定要提删除该留言吗?")){
            var aj = $.ajax( {
                url:'/manage/delMessage',
                data:{mid : mid},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/msgList/" + page;
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/msgList/" + page;
                },
            });
        }
    }

    function del(id){
        if(confirm("确定要删除吗?")){

        }
    }

    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    function DelSelect(){
        var checkID = [];

        var Checkbox=false;
        $("input[name='id[]']:checked").each(function(i){
            checkID[i] =$(this).val();
            Checkbox=true;
        });
        var ids = checkID.join(',');
        if (!Checkbox){
            alert("请选中要删除的id!");
            return;
        }
        if(confirm("确定要提删除这批留言吗?")){
            var aj = $.ajax( {
                url:'/manage/delMultiMessage',
                data:{ids : ids},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/msgList/" + page;
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/msgList/" + page;
                },
            });
        }
    }


</script>
</body></html>