{{ define "manage/tag.html" }}
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/static/css/pintuer.css">
<link rel="stylesheet" href="/static/css/admin.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 标签</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
          <div style="padding:10px 35px">
            {{range .tagList}}
                <button class="button bg-green  icon-trash-o" type="button" onclick="delTag({{.Id}})"> {{.Tag}}</button>
            {{end}}
          </div>
      </div>

        <div class="form-group">
        <div class="label">
          <label for="sitename">标签名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="tag" name="tag" size="50" placeholder="请输入标签名称" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="button" onclick="addTag();"> 添加新标签</button>
        </div>
      </div>      
    </form>
  </div>
</div>
<script language="JavaScript">
    function delTag(id){
        if(confirm("确定要删除该标签吗?")){
            var aj = $.ajax( {
                url:'/manage/delTag',
                data:{id : id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("删除成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/tag"
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/tag"
                },
            });
        }
    }
    function addTag(){
        var tagName = $('#tag').attr('value')
        if($.trim( tagName ) == ""){
            alert("标签名称不能为空");
            return
        }
        if(confirm("确定要添加该标签吗?")){
            var aj = $.ajax( {
                url:'/manage/addTag',
                data:{name : tagName},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.errcode == 0 ){
                        alert("添加成功");
                    }else{
                        alert(data.errinfo);
                    }
                    window.location.href="/manage/tag"
                },
                error : function() {
                    alert("数据库异常，请稍后重试！");
                    window.location.href="/manage/tag"
                },
            });
        }
    }
</script>
</body></html>
{{end}}